<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mendivil.valenzuela.ciulog.luzdedia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LuzDeDia">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.MenuActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.MenuPrincipalActivity" />
        <activity android:name=".activities.PantallaJuegoActivity" />
        <activity android:name=".activities.PalabrasLlanasJuegoActivity" />
        <activity android:name=".activities.CelulaJuegoActivity" />
        <activity android:name=".activities.PinActivity" />
        <activity android:name=".activities.ParentRoomActivity" />
        <activity android:name=".activities.ContactosActivity" />
        <activity android:name=".activities.ListaEspecialistasActivity" />
        <activity android:name=".activities.CalendarioActivity" />
        <activity android:name=".activities.Notas2Activity" />
        <activity android:name=".activities.NotasActivity" />
        <activity android:name=".activities.RendimientoActivity" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.ForoActivity" />
        <activity android:name=".activities.RemPasswordActivity" />
        <activity android:name=".activities.Memory_game"/>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>